<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter entry name" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 15, class: 'form-control', placeholder: "_" %>
  </div>
  <% if current_user.admin? || current_user.premium? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private Wiki
      <% end %>
    </div>
    <div class="form-group">
      <%= hidden_field_tag "wiki[user_ids][]", nil %>
      <% @users.each do |user| %>
        <div>
          <%= check_box_tag "wiki[user_ids][]", user.id, @wiki.users.include?(user) %>
          <%= user.email %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
