<div>
  <h1>
    <%= @wiki.title %> <br>
    <small>
      submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.email %>
    </small>
  </h1>
</div>
<br />
<div class="row">
  <div class="col-md-8">
    <p><%= @wiki.body %></p>
  </div>
  <div class="col-md-4">
    <%= link_to "All Entries", root_path, class: 'btn btn-success' %>
    <%= link_to "New Entry", new_wiki_path, class: 'btn btn-success' %>
    <%= link_to "Edit Entry", edit_wiki_path, class: 'btn btn-success' %>
    <%= link_to "Delete Entry", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this entry?' } %>
  </div>
</div>
